
        h1{
            color:deeppink
        }
        body {
                background-color:beige;
        }
        header{
                background-color:antiquewhite;
       }

        nav{
                background-color:bisque;
        }

        p{
                background-color:blanchedalmond; 
        }
        b{
            color:darkgrey
        }
        u{
            color:dimgrey
        }
        i{
            color:ghostwhite
        }

